.products-container {
  display: flex;
  padding-top: 7rem;
}

.aside-bar {}

.all,
.PC,
.smartphone {
  cursor: pointer;
}

.items-div {
  max-width: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}