.profile-container{
  padding-top: 7rem;
  margin: 0 auto;
  max-width: 1140px;
}

.profile-card{
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1rem; 
}

.profile-title{
  text-align: center;
}