.cart-page {
  padding-top: 7rem;
  max-width: 1140px;
  margin: 0 auto;
}

.cart-title {
  text-align: center;
}

.cart-info {
  display: flex;
}

.items-container {
  width: 80%;
}

.items-header{
  font-weight: 700;
  border-bottom: 2px solid #000;
  display: grid;
  text-align: center;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding-bottom: 0.2rem;
}

.item {
  display: grid;
  text-align: center;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  border: 1px solid #000;
  align-items: center;
  margin: 0.5rem 0;
}

.item p{
  margin: 0.7rem 0;
}

.minus-item,
.add-item{
margin: 0 0.3rem; 
}

.order-summary {
  text-align: center;
  width: 20%;
  background-color: #c2c2c2;
}